<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SFTP_SERVER" value="10.12.200.42"/>
		<add key="SFTP_USER" value="sftpuser"/>
		<add key="KEY_PATH" value="C:\Users\kss-2\.ssh\id_ed25519"/>
		<add key="KEY_PASS_PHRASE" value="ncc"/>
		<add key="DB_SERVER" value="ncc-db-srv.database.windows.net,1433"/>
		<add key="DB_USER" value="NccUser"/>
		<add key="DB_PASS" value="Ncc#1234"/>
		<add key="DB_NAME" value="NCCDB"/>
		<add key="DB_SCHEMA" value="kss_23180106"/>
		<add key="SHOP_CODE" value="23180106"/>
	</appSettings>
</configuration>
